.posse-blue-gradation {
	background: linear-gradient(to right, #0f71bd, #3ccfff);
}

.layout-full-width {
	margin: 0 calc(50% - 50vw);
	width: 100vw;
}

.join {
	color: #bde360;
}

.bg-join {
	background: #bde360;
}

.not-answer {
	color: rgba(251,191,36,var(--tw-text-opacity));
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}
